<a href="https://colab.research.google.com/github/jaanchintu/Git_Workshop/blob/master/Basics_of_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
a=5

In [6]:
if a%2==0:
    print ("even")
else:
    print("odd")

odd

In [9]:
b=int(input("Enter a number"))
if b%2==0:
    print ("even")
else:
    print("odd")

Enter a number1534
even

In [23]:
n=int(input("Enter a number of rows in a pattern : "))
i=0
while i<=n:
  print(i*"* ")
  time.sleep(1)
  i=i+1

Enter a number of rows in a pattern : 5

*
* *
* * *
* * * *
* * * * *

import time
n1=int(input("Enter a number of rows in a pattern : "))
i=0
while i<=n1:
    print(i*"* ")
    i=i+1

In [29]:
n=0
i=6
while i>n:
  print(i*"* ")
  time.sleep(1)
  i=i-1

* * * * * *
* * * * *
* * * *
* * *
* *
*

In [32]:
for i in range(6):
  print(i)

0
1
2
3
4
5

In [34]:
for i in range(0,20,5):
    print(i)

0
5
10
15

In [49]:
n=int(input("Enter a table number"))
for i in range(11):
    print(f"{n} * {i} = {n*i}")

Enter a table number5
5 * 0 = 0
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

In [36]:
str="chintu"
for i in (str):
    print(i)

c
h
i
n
t
u

In [42]:
# dictionaries
d={1:"chintu",2:"nani",3:"sai"}
for i in d.keys():
    print(i)

1
2
3

In [43]:
# dictionaries
d={1:"chintu",2:"nani",3:"sai"}
for i in d.values():
    print(i)

chintu
nani
sai

In [44]:
# dictionaries
d={1:"chintu",2:"nani",3:"sai"}
for i in d.items():
    print(i)

(1, 'chintu')
(2, 'nani')
(3, 'sai')

In [50]:
import random
random.randint(0,5)

2

In [54]:
from random import randint
print(random.randint(0,8),random.randint(5,12),random.randint(10,15))

3 12 13

In [59]:
#time library
import time
seconds=time.time()
local=time.ctime(seconds)
print("Local time: ",local)

Local time:  Wed Nov  8 10:00:10 2023

In [64]:
from datetime import datetime
import pytz
IST = pytz.timezone('Asia/Kolkata')
print("current time : ",datetime.now(IST))

current time :  2023-11-08 15:32:00.177439+05:30

In [65]:
pip install numpy

Requirement already satisfied: numpy in /usr/local/lib/python3.10/dist-packages (1.23.5)